html,
body {
	margin: 0 0;
	height: 100%;
	width: 100%;
	background: url('bg_road.gif') no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-color: rgba(255, 154, 140, .9);
	background-blend-mode: exclusion;
	overflow: hidden;
	position: fixed;
	user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-overflow-scrolling: touch;
	filter: blur(1px) brightness(115%) saturate(122%);
	animation: babyhuey 40s linear infinite;
}

@keyframes babyhuey {    
	0% {filter: blur(1px) brightness(115%) saturate(122%) hue-rotate(1deg);}
	20% {filter: blur(1px) brightness(115%) saturate(122%) hue-rotate(256deg);}
	40% {filter: blur(1px) brightness(115%) saturate(122%) hue-rotate(267deg);}
	60% {filter: blur(1px) brightness(115%) saturate(122%) hue-rotate(348deg);}
	80% {filter: blur(1px) brightness(115%) saturate(122%) hue-rotate(92deg);}
}
